{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/css/all.min.css' %}">
 <link rel="stylesheet" href="{% static 'style.css' %}">



</head>

<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">



            <nav class="navigation hide" id="navigation">
                <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fas fa-window-close fas-3x"></i></span>
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Sair</a></li>
                     <li class="nav-item"><a href="{% url 'perfil_user' %}">Configurações</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'signup' %}">Cadastrar</a></li>
                    <li class="nav-item"><a href="{% url 'signin' %}">Logar</a></li>
                    {% endif %}
                </ul>
            </nav>
            <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars" ></i></a>
            <div class="brand" ><a href="{% url 'home' %}">FORUM ESTUDANTIL</a> </div>
            {% if user.is_authenticated %}
            <div style="font-size:50px;font-weight300px;margin-left:100px;"><a href="{% url 'create_post' %}">+</a></div>
            {% endif %}
        </div>
        <!--SearchBox Section-->
                <form action="{% url 'search_result' %}" role="form" method="GET">
                <div class="search-box">
                    <div>
                        <select name="search-box" id="">
                            <option value="Everything">Todos</option>
                            <option value="Titles">Títulos</option>
                            <option value="Descriptions">Descrições</option>
                        </select>
                        <input type="text" name="q" placeholder="search ...">
                        <button type="submit" name="search"><i class="fas fa-search"></i></i></button>
                    </div>
                </div>
                </form>
    </header>
    {% block content %}
    {% endblock content %}

    <footer>
        <span>&copy;  Developer by José Felipe</span>
        <i class="fab fa-searchengin"></i>
    </footer>
    <script src="{% static 'main.js' %}"></script>
     <script src="{% static 'fontawesome-free-5.15.4-web/js/all.min.js' %}"></script>
    
</body>
</html>